# Projeto kaggle

In [1]:
import pandas as pd
import numpy as np

In [2]:
# definir uma variável de número inteiro.

x = 14
print(x)
print(type(x))

14
<class 'int'>

In [4]:
# Definir uma variável float. Floats são números com partes fracionárias. Eles podem ter muitos números após o decimal.

nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

3.141592653589793
<class 'float'>

In [5]:
# float em formato de fração.

almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

In [11]:
# Uma função particularmente útil para frações é a função round(). Permite arredondar um número para um número especificado de casas decimais.

# Round to 5 decimal places
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

3.14286
<class 'float'>

In [12]:
# Por exemplo, colocando 1, 1.0 ou 3.14 sempre será conhecido como float.

y_float = 1.
print(y_float)
print(type(y_float))

1.0
<class 'float'>

In [14]:
# Booleanos são usados para representar o valor de verdade de uma expressão. Como 1 < 2 é uma declaração verdadeira, z_three assume o valor True.

z_three = (1 < 2)
print(z_three)
print(type(z_three))

True
<class 'bool'>

In [15]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

False
<class 'bool'>

In [16]:
# Podemos mudar o valor de um booleano usando not. Então, não verdadeiro é equivalente a falso, e não falso torna-se verdadeiro

z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>

In [17]:
# O tipo de dados string é uma coleção de caracteres (como letras do alfabeto, pontuação, dígitos numéricos ou símbolos) contidos entre aspas. Strings são comumente usadas para representar texto.

w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

In [18]:
# você pode obter o comprimento de uma string com len(). "Olá, Pitão!" tem comprimento 14, porque tem 14 caracteres, incluindo espaço, vírgula e ponto de exclamação. Observe que as aspas não são incluídas no cálculo do comprimento.

print(len(w))

14

In [19]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

<class 'str'>
0

In [21]:
# Número também pode ser String, basta colocar entre aspas "" ou ''

my_number = "1.12321"
print(my_number)
print(type(my_number))
print (len(my_number))

1.12321
<class 'str'>
7

In [23]:
# Converter String em Float, isso nem sempre funcionará! Por exemplo, podemos converter "10.43430" e "3" em floats, mas não podemos converter "Hello, Python!" a um flutuador.

also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

1.12321
<class 'float'>

In [24]:
# Concateneando, Assim como você pode adicionar dois números (flutuantes ou inteiros), você também pode adicionar duas strings. Isso resulta em uma string mais longa que combina as duas strings originais concatenando-as.

new_string = "abc" + "def"
print(new_string)
print(type(new_string))

abcdef
<class 'str'>

In [25]:
newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))

abcabcabc
<class 'str'>

In [27]:
# Observe que você não pode multiplicar uma string por um float! Tentar fazer isso retornará um erro.

will_not_work = "abc" * 3.
print (will_not_work)

TypeError: can't multiply sequence by non-int of type 'float'

# Condições e declarações condicionais

In [7]:
# Nesta lição, você aprenderá como usar condições e declarações condicionais para modificar como suas funções são executadas.

print (2>6)

var_one = 1
var_two = 2

print(var_one < 1)
print(var_two >= var_one)

False
False
True

In [34]:
# Função "se" if

def evaluate_temp(temp):
    # Set an initial message
    message = "Normal temperature."
    # Update value of message only if temperature greater than 38
    if temp > 38:
            message = "Fever!"
    return message

In [36]:
print(evaluate_temp(39))

Fever!

In [37]:
# If e else

def evaluate_temp_with_else(temp):
    if temp > 38:
        message = "Fever!"
    else:
        message = "Normal temperature."
    return message

In [38]:
print(evaluate_temp_with_else(37))

Normal temperature.

In [39]:
# If, elif, else

def evaluate_temp_with_elif(temp):
    if temp > 38:
        message = "Fever!"
    elif temp > 35:
        message = "Normal temperature."
    else:
        message = "Low temperature."
    return message

In [41]:
evaluate_temp_with_elif(34)

'Low temperature.'

In [42]:
# em um país com apenas duas faixas de imposto. Todo mundo que ganha menos de 12.000 paga 25% de impostos e quem ganha 12.000 ou mais paga 30%. A função abaixo calcula quanto de imposto é devido.

def get_taxes(earnings):
    if earnings < 12000:
        tax_owed = .25 * earnings
    else:
        tax_owed = .30 * earnings
    return tax_owed

In [43]:
ana_taxes = get_taxes(9000)
bob_taxes = get_taxes(15000)

print(ana_taxes)
print(bob_taxes)

2250.0
4500.0

In [44]:
# outros exemplos.

def get_dose(weight):
    # Dosage is 1.25 ml for anyone under 5.2 kg
    if weight < 5.2:
        dose = 1.25
    elif weight < 7.9:
        dose = 2.5
    elif weight < 10.4:
        dose = 3.75
    elif weight < 15.9:
        dose = 5
    elif weight < 21.2:
        dose = 7.5
    # Dosage is 10 ml for anyone 21.2 kg or over
    else:
        dose = 10
    return dose

In [47]:
print (get_dose(12))

5

In [48]:
def get_grade(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    elif score >= 60:
        return "D"
    else:
        return "F"

In [52]:
print (get_grade(100))

A

In [53]:
def cost_of_project(engraving, solid_gold):
    base_cost_gold_plated = 50
    base_cost_solid_gold = 100
    cost_per_unit_gold_plated = 7
    cost_per_unit_solid_gold = 10

    if solid_gold:
        total_cost = base_cost_solid_gold + (cost_per_unit_solid_gold * len(engraving))
    else:
        total_cost = base_cost_gold_plated + (cost_per_unit_gold_plated * len(engraving))
    
    return total_cost

cost_of_project("Hello World!", True)

220

In [54]:
def get_water_bill(num_gallons):
    
    tier1_price = 5
    tier2_price = 6
    tier3_price = 7
    tier4_price = 10

    if num_gallons <= 8000:
        water_bill = (num_gallons / 1000) * tier1_price
    elif num_gallons <= 22000:
        water_bill = (num_gallons / 1000) * tier2_price
    elif num_gallons <= 30000:
        water_bill = (num_gallons / 1000) * tier3_price
    else:
        water_bill = (num_gallons / 1000) * tier4_price
    
    return water_bill

get_water_bill(10000)

60.0

In [57]:
def get_phone_bill(gb):
    
    base_price = 100  # Valor base da assinatura
    included_data = 15  # Dados incluídos na assinatura em GB
    data_overage_rate = 0.1  # Taxa de cobrança por GB adicional

    if gb <= included_data:
        phone_bill = base_price
    else:
        data_overage = gb - included_data
        data_overage_cost = data_overage * data_overage_rate
        phone_bill = base_price + data_overage_cost
    
    return phone_bill

get_phone_bill (16)

100.1

In [63]:
def get_labels(food_type, serving_size, calories_per_serving, saturated_fat_g, trans_fat_g, sodium_mg, sugars_g):
    # Verificar o tipo de alimento
    if food_type == "solid":
        serving_unit = "gramas"
    elif food_type == "líquido":
        serving_unit = "mililitros"
    else:
        print("Tipo de alimento inválido.")
        return
    
    # Verificar cada componente e imprimir os rótulos de aviso, se necessário
    if excess_sugar(sugars_g):
        print("EXCESO AZÚCARES")
    
    if excess_saturated_fat(saturated_fat_g):
        print("EXCESO GRASA SATURADA")
    
    if excess_trans_fat(trans_fat_g):
        print("EXCESO GRASA TRANS")
    
    if excess_sodium(sodium_mg):
        print("EXCESO SODIO")
    
    if excess_calories(calories_per_serving):
        print("EXCESO CALORÍAS")
    
    # Imprimir informações sobre a porção
    print(f"Tamaño de la porción: {serving_size} {serving_unit}")
    
    get_labels("solido", 32, 110, 2.5, 0, 400, 1)