# Projeto kaggle

In [1]:
import pandas as pd
import numpy as np

In [2]:
# definir uma variável de número inteiro.

x = 14
print(x)
print(type(x))

14
<class 'int'>

In [4]:
# Definir uma variável float. Floats são números com partes fracionárias. Eles podem ter muitos números após o decimal.

nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

3.141592653589793
<class 'float'>

In [5]:
# float em formato de fração.

almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

In [11]:
# Uma função particularmente útil para frações é a função round(). Permite arredondar um número para um número especificado de casas decimais.

# Round to 5 decimal places
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

3.14286
<class 'float'>

In [12]:
# Por exemplo, colocando 1, 1.0 ou 3.14 sempre será conhecido como float.

y_float = 1.
print(y_float)
print(type(y_float))

1.0
<class 'float'>

In [14]:
# Booleanos são usados para representar o valor de verdade de uma expressão. Como 1 < 2 é uma declaração verdadeira, z_three assume o valor True.

z_three = (1 < 2)
print(z_three)
print(type(z_three))

True
<class 'bool'>

In [15]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

False
<class 'bool'>

In [16]:
# Podemos mudar o valor de um booleano usando not. Então, não verdadeiro é equivalente a falso, e não falso torna-se verdadeiro

z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>

In [17]:
# O tipo de dados string é uma coleção de caracteres (como letras do alfabeto, pontuação, dígitos numéricos ou símbolos) contidos entre aspas. Strings são comumente usadas para representar texto.

w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

In [18]:
# você pode obter o comprimento de uma string com len(). "Olá, Pitão!" tem comprimento 14, porque tem 14 caracteres, incluindo espaço, vírgula e ponto de exclamação. Observe que as aspas não são incluídas no cálculo do comprimento.

print(len(w))

14

In [19]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

<class 'str'>
0

In [21]:
# Número também pode ser String, basta colocar entre aspas "" ou ''

my_number = "1.12321"
print(my_number)
print(type(my_number))
print (len(my_number))

1.12321
<class 'str'>
7

In [23]:
# Converter String em Float, isso nem sempre funcionará! Por exemplo, podemos converter "10.43430" e "3" em floats, mas não podemos converter "Hello, Python!" a um flutuador.

also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

1.12321
<class 'float'>

In [24]:
# Concateneando, Assim como você pode adicionar dois números (flutuantes ou inteiros), você também pode adicionar duas strings. Isso resulta em uma string mais longa que combina as duas strings originais concatenando-as.

new_string = "abc" + "def"
print(new_string)
print(type(new_string))

abcdef
<class 'str'>

In [25]:
newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))

abcabcabc
<class 'str'>

In [27]:
# Observe que você não pode multiplicar uma string por um float! Tentar fazer isso retornará um erro.

will_not_work = "abc" * 3.
print (will_not_work)

TypeError: can't multiply sequence by non-int of type 'float'