# Importando as bibliotecas

In [2]:
import pandas as pd
import numpy as np

### Funções úteis no Pandas

In [3]:
pd.isnull(pd.Series([1, np.nan, 7]))

0    False
1     True
2    False
dtype: bool

In [4]:
pd.notnull(pd.Series([1, np.nan, 7]))

0     True
1    False
2     True
dtype: bool

In [5]:
pd.isnull(pd.DataFrame({
    'Column A': [1, np.nan, 7],
    'Comumn B': [np.nan, 2, 3],
    'Column C': [np.nan, 2, np.nan]
}))

   Column A  Comumn B  Column C
0     False      True      True
1      True     False     False
2     False     False      True

## Pandas: Operações com valores perdidos

In [6]:
pd.Series([1, 2, np.nan]).count()

2

In [7]:
pd.Series([1, 2, np.nan]).sum()

3.0

In [10]:
pd.Series([2, 2, np.nan]).mean()

2.0

In [11]:
s = pd.Series([1, 2, 3, np.nan, np.nan, 4])

In [12]:
pd.notnull(s)

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

In [16]:
pd.notnull(s).sum()

4

In [17]:
pd.isnull(s).sum()

2

In [19]:
s[pd.notnull(s)]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

In [20]:
s.isnull()

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [21]:
s.notnull()

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

In [23]:
s[s.notnull()]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

## dropping valores nulos

In [24]:
s.dropna()

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64